body {
  font-family: system-ui, -apple-system, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

textarea {
  width: 100%;
  max-width: 600px;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #b40202;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d68100;
}

#svgHost {
    width: 100%;
    height: 750px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow: auto; /* Allows panning/scrolling if diagram is very wide */
    position: relative;
}

#svgHost svg {
    display: block;
    
    /* this stretches the nodes*/
    /* min-width: 100%;
    min-height: 100%; */
}

.pu-node {
  cursor: grab;
}

.pu-node:active {
  cursor: grabbing;
}